<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Tempcp>  
            <version>1.1.0</version>  
        </Ves_Tempcp>  
    </modules>  
    <!-- frontend -->
    <frontend>
        <translate>
            <modules>
                <Ves_Tempcp>
                    <files>
                        <default>Ves_Tempcp.csv</default>
                    </files>
                </Ves_Tempcp>
            </modules>
        </translate>
		 <layout>
            <updates>
                <tempcp>
                    <file>tempcp.xml</file>
                </tempcp>
            </updates>
        </layout>
		<events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ves_tempcp_observer>
                        <type>singleton</type>
                        <class>Ves_Tempcp_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_tempcp_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
	<adminhtml>
		<menu>
		<vesextensions module="ves_tempcp">
                <title>VenusTheme</title>
                <sort_order>51</sort_order>
                <children>
					<ves_tempcp translate="title" module="ves_tempcp">
						<title>Ves Template Panel</title>
						<children>
							<configuration translate="title" module="ves_tempcp">
								<title>Configuration</title>
								<sort_order>5</sort_order>
								<action>adminhtml/system_config/edit/section/ves_tempcp_info</action>
							</configuration>
						</children>
					</ves_tempcp>
                </children>
            </vesextensions>
		</menu>	
	</adminhtml>
    <!--Global-->
    <global>  
        <blocks>
            <ves_tempcp>
                <class>Ves_Tempcp_Block</class>
            </ves_tempcp>
        </blocks>
        <models>
            <ves_tempcp>
                <class>Ves_Tempcp_Model</class>
            </ves_tempcp>
        </models>
        <helpers>
            <ves_tempcp>
                <class>Ves_Tempcp_Helper</class>
            </ves_tempcp>
        </helpers>

    </global>
    <admin>
        <routers>
            <tempcp>
                <use>admin</use>
                <args>
                    <module>Ves_Tempcp</module>
                    <frontName>tempcp</frontName>
                </args>
            </tempcp>
        </routers>
    </admin>
    <default>
        <ves_tempcp_info>
            <ves_tempcp>
                <paneltool>1</paneltool>
				<responsive>0</responsive>
				<enablejquery>0</enablejquery>
				<panelposition>top.container</panelposition>
            </ves_tempcp>
        </ves_tempcp_info>
    </default>
</config>  